:root {
  --gold: #b49830;
  --black: #000;
}

body {
  margin: 0;
}

#wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.construction-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px var(--black);
  padding: 5rem 1rem;
  position: relative;
  font-family: 'Lato', sans-serif;
  max-width: calc(100% - 2rem);
  margin: 0 1rem;
}

.construction-container::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  border-top: solid 1px var(--black);
  border-bottom: solid 1px var(--black);
}

.construction-container img {
  margin-bottom: 2rem;
  max-width: 100%;
}

.under-construction {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.contact {
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-align: center;
}
